<p style="color: green"><%= notice %></p>
<%= render @dish %>
<%= image_tag @dish.photo, width: 200 if @dish.photo.attached?%>
<div>
  <%= link_to "Edit this dish", edit_dish_path(@dish) %> |
  <%= link_to "Back to dishes", dishes_path(restaurant_id:(@restaurant)) %>

  <%= button_to "Destroy this dish", @dish, method: :delete %>
</div>
