<p style="color: green"><%= notice %></p>
<h1>Restaurants</h1>

  <div id="restaurants">
   <% @restaurant.each do |restaurant| %>
   <div>
    <div>
      <strong>Name:</strong>
      <%= restaurant.name %>
      </div>
      <% if restaurant.logo.present? %>
        <%= link_to image_tag(restaurant.logo, alt: "logo", width: "200"),
        restaurant %>
      <% else %>
        <%= link_to image_tag("default.png", alt: "logo", width: "200"),
        restaurant %>
      <% end %>
      </div>
   <% end %>
  </div>
  <div>
   <%= link_to "New restaurant", new_restaurant_path %>
  </div>
