  <header class="navbar navbar-fixed-top navbar-inverse">
   <div class="container">
    <%= link_to "Restauran Exercise", root_path, id:"logo" %>
    <nav>
     <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "Restaurants",  restaurants_path %></li>
      <li><%= link_to "Orden",  cart_path %></li>
      <li><%= link_to "log in", new_session_path %></li>
      <li><%= link_to "sign up", new_user_path %></li>
     </ul>
    </nav>
   </div>
  </header>
